$HeaderColor: #f4c6b5;
$MainTextColor: #877c76;
$btnSelected: #ffb6b9;

//会員登録・ログイン
$linkBtn: #D5D1CE;
$linkBtnText: #fff;
$inputHeading: #57483F;
$btnTextColor: #fff;
$singupLink: #FFB6B9;
$textColor: #000;

// ホーム
$postTextColor: #000;
$tagBgc: #F4C6B5;
$tagTextColor: #fff;